@font-face {
    font-family: Monospace;
    src: url(./Anonymous.ttf);
}

.container{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f9faf8;
    padding: 80px 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #acacac;
    gap: 32px;
}


*{
    font-family: 'Monospace','sans-serif';
}


.header{
    font-size: 50px;
    margin-bottom: 8px;
}

.subtext{
    margin-bottom: 32px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
}

.score{
    font-size: 36px;
    color: #1f2937;
}



button{
    width: 100px;
    height: 100px;
    background-color: #f9faf8;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 5px 10px 0px #acacac;
    font-size: 36px;
}

.player-moves{
    display: flex;
    gap: 32px;
}

.game-area{
    display: flex;
    width: 450px;
    justify-content: space-between;
}

.player,
.computer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.selection-box{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #f9faf8;
    box-shadow: 0px 0px 10px 0px #acacac;
    border-radius: 10px;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    
}